{% extends "base.html" %}
{% block title %}Supplier list{% endblock %}
{% block sidemenu %}
    <li><a href="{% url 'add_card' %}">Add new supplier card</a></li>
{% endblock %}
{% block content %}
    <form name="search-supplier" class="search-supplier">
      <span class="icon-search"><i class="fa fa-search"></i></span>
      {% csrf_token %}
      <input type="text" name="s-s" id="search_input">    
    </form>
    <table class="tab-list" id="main-results-search">
      {% include 'includes/supplier_table.html' with  supplier_query=supplier_list %}
    </table>  
    {% load static %}
      <script src="{% static 'ajax.js' %}"></script>
{% endblock %}
