<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load bootstrap3 %}
{% bootstrap_css %}
<div class="mx-auto" style="width: 500px; margin: auto">
    <h2>Quantity Table</h2>
    <table border="1" style="border-collapse: collapse" class="table-responsive table-striped table">
        <caption>Warehouse stock</caption>
        <tr>
            <th>Supplier</th>
            <th>Warehouse</th>
            <th>date</th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td>{{item.supplier}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>