<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="supplier">Choose Supplier</label>
<input type="text" id="supplier_input" list="supplier_list">

<datalist id="supplier_list">
    {% for item in supplier %}
    <option value="{{ item }}"></option>
    {% endfor %}
</datalist>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <p><input type="file" name="f" accept="application/excel">
        <input type="submit" name="csrfmiddlewaretoken" value="Отправить"></p>
</form>
<script >
    supplier_input.oninput = function () {
        var options = document.querySelectorAll('option');
        console.log(options);
        for(var i = 0; i < options.length; i++){
            if(options[i].value == supplier_input.value) {
                var supplier = options[0].value
                console.log(options[0].value);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', escape(supplier) + '/', false);
                xhr.send();
                break
            }
        }
    }
</script>
</body>
</html>