<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a style="color: red"> {{ alert }}</a>
<!-- {% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %} -->
<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    {{ upload_form.non_field_errors }}
    <div class="uploadFormMatches">
    <p>{{ upload_form.matches.label_tag}}</p>
    <p>
        {{  upload_form.matches.errors }}
        {{  upload_form.matches }}
    </p>
    </div>
   <input type="submit" value="upload"></p>
</form>
</body>
</html>